<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %} {% endblock %}

</head>
<body>
        <header class="header">
            <div class="links">
                <a href="{{ url_for('index') }}#about">About us</a>
                <a href="{{ url_for('contact') }}">Contact</a>
            </div>

        </header>
    </div>
    {% block body %} {% endblock %}
</body>

</html>