<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
    {% block head %} {% endblock %}

</head>

<body>
    <div class="header">
        <header>
            <div class="links">
                <li><a href="{{ url_for('index') }}#about">About us</a></li>

                <li><a href="{{ url_for('contact') }}">Contact</a></li>


            </div>

        </header>
    </div>
    </div>
    <!-- <section id="about">
    <div class="about" id="about">
        <h1>About Review Finder</h1>
        <p>Review Finder is a web application that retrieves reviews of products from Flipkart, a leading e-commerce platform in India. Our mission is to help consumers make informed purchasing decisions by providing them with authentic and reliable product reviews.</p>
        <p>At Review Finder, we understand the importance of unbiased reviews in today's competitive market. That's why we employ a team of experts who manually curate reviews to ensure that they are genuine and not influenced by any third party.</p>
        <p>Our user-friendly interface allows users to search for product reviews by entering the name of the product they are interested in. The application then retrieves all available reviews from Flipkart's database and presents them to the user in an easy-to-read format.</p>
        <p>At Review Finder, we are committed to providing our users with the best possible experience. We are constantly updating and improving our application to ensure that it meets the changing needs of our users.</p>
      </div>
</section> -->
    {% block body %} {% endblock %}
</body>

</html>